/* ========== GLOBAL ========== */
:root {
  --bg: #f7fafc;
  --card: #ffffff;
  --accent: #0b74de;
  --muted: #6b7280;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, Arial, sans-serif;
  background: var(--bg);
  color: #0f172a;
}

/* ========== HEADER ========== */
header {
  background: linear-gradient(90deg, #eef2ff, #f0f9ff);
  padding: 18px 24px;
  box-shadow: 0 1px 4px rgba(15, 23, 42, 0.06);
}

.container {
  max-width: 980px;
  margin: auto;
  padding: 0 18px;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 52px;
  height: 52px;
  border-radius: 8px;
  object-fit: cover;
}

.title {
  font-weight: 700;
}

.subtitle {
  font-size: 13px;
  color: var(--muted);
}

/* MENU */
.navlist {
  display: flex;
  gap: 12px;
}

.navlist a {
  text-decoration: none;
  color: var(--accent);
  font-weight: 100;
  padding: 8px;
  border-radius: 6px;
}

.navlist a:hover {
  background: rgba(11, 116, 222, 0.08);
}

/* Tombol Menu HP */
.menu-toggle {
  font-size: 28px;
  cursor: pointer;
  display: none;
}

/* ========== HERO ========== */
.hero {
  display: flex;
  justify-content: space-between;
  background: var(--card);
  padding: 22px;
  border-radius: 12px;
  margin-top: 20px;
  box-shadow: 0 6px 18px rgba(11, 116, 222, 0.08);
}

.hero-tag {
  text-align: right;
  color: var(--muted);
}

.tag-small {
  font-size: 12px;
}

.tag-title {
  font-weight: 600;
  margin-top: 6px;
}

/* ========== CONTENT GRID ========== */
.grid {
  display: grid;
  grid-template-columns: 1fr 320px;
  gap: 18px;
  margin-top: 18px;
}

.card {
  background: var(--card);
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(2, 6, 23, 0.05);
}

.atom-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 12px;
}

/* ========== FOOTER ========== */
footer {
  margin-top: 26px;
  text-align: center;
  color: var(--muted);
  font-size: 14px;
}

/* ========== RESPONSIVE ========== */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  /* NAVBAR berubah vertikal */
  nav {
    width: 30%;
  }

  .navlist {
    display: none;
    flex-direction: column;
    background: white;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.06);
  }

  .navlist.show {
    display: flex;
     font-size: 28px;
    align-items: center;
  }

  .menu-toggle {
    display: flex;
    font-size: 28px;
    align-items: center;
  }


  /* HERO STACK */
  .hero {
    flex-direction: column;
    text-align: left;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 20px;
  }

  .logo {
    width: 44px;
    height: 44px;
  }
}

